POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=rag_expert
GEMINI_API_KEY=AIzaSyChX1DrTSc2U67hmkDBizLNUTPfEJnMaSI
DASHSCOPE_API_KEY=sk-1ec6c3a1c8d3408789f807da84bc6566
SECRET_KEY=changethiskeyinproduction
